html,
body {
    overflow-x: hidden;
    font-family: 'Indie Flower', cursive !important;
}

.container {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow-x: hidden;
}

/* .container1 {
    box-shadow: 0px 0px 10px !important;
    display: flex !important;
    max-width: 80%;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 10px;
}
.con1beneath {
    width: 100% !important;
    max-width: 400px !important
}
.header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.name {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    width: 130px;
    justify-content: center;
    padding: 5px;

} */

/* .datecon { */
    /* display: inline-block; */
    /* flex-direction: row; */
    /* display: flex;
    flex-wrap: wrap; */
    /* width: 130px; */
    /* border: green solid !important; */
    /* justify-content: center; */
    /* padding: 5px; */

/* } */


/* .productdivider {
    color: black !important;
    margin-right: 8px !important;
}
.productcon {
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    border: red solid;
    width: auto;
    justify-content: center;

}
.datacon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
}
.datacon > div{
    padding: 5px;
    max-width: 200px;
}
.pdiv {
    width: 100%;
}
.nameofperson {
    width: 130px;
    border: black solid;
    display: flex;
    flex-wrap: wrap;
}
.nn {
    display: flex;
    flex-wrap: wrap;
}
.dateofposting {
    width: 130px;
    border: red solid;
}

.projectdetaile {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
} */
.formcard {

    padding: 10px 0px !important;
    box-shadow: 0px 0px 10px grey !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.dividerform {
    width: 50% !important;
    margin: 0 auto !important;
}



.nameproductip {
    margin-bottom: 20px !important;
}

.uploadimgip,
.home_uploadimgip__35VKv {
    margin: 10px;
    font-size: 15px;

}
.gridform {
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    text-align: center !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    display: flex !important;
    flex-direction: row !important;
}

.gridproductscon {
    text-align: center !important;
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    margin: 20px !important;
  
}

.dataa {
    box-shadow: 0px 0px 10px !important;
    cursor: pointer;
    text-align: center;
    max-width: 400px;
    margin: 8px !important;
    padding: 10px;
    width: 160px !important;
 
}

a {
    text-decoration: none;
    font-size: large;
}
/* .dataa {
    
} */

.imgcontainer {
    display: flex;
    flex-direction: column;

}

.uploadedimg {
    flex-wrap: wrap;
    height: 150px !important;

}

.descriptiondiv {
    display: flex;
    flex-direction: column;
}
.des {
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .container {
        width: 400px !important;
        margin: 10px 10px;
    }
        .formcard {
            padding:10px !important;
        }
        .dataa {
            width: 300px !important;
        }
}

/* @media (max-width: 700px) {
    .container {
        width: 500px !important;
    }
   
    .formcard {
        padding: 10px !important;
     
    }
} */

@media (max-width: 400px) {
    .container {
        width: 400px !important;
    }
    .formcard {
        padding: 10px !important;
        
    }
    .dataa {
        width: 200px !important;
    }
    .gridproductscon{
        width: 300px !important;
    }
}