.header {
    display: flex;
    background: yellowgreen;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    /* height: 80px; */
  }
  .logonav {
    display: flex !important;
    align-items: center !important;
    justify-content: space-evenly !important;
  }
  .logocontainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo {
    width: 45px;
    height: 45px;
  }
  .navoptions {
    padding-left: 25px !important;
    display: grid !important;
    grid-template-columns: repeat(3, auto) !important;
    grid-gap: 50px !important;
    list-style-type: none !important;
  }
  .mobileoption {
    display: none !important;
  }
  
  .option :hover {
    color: white !important;
  }
  .signinup {
    display: flex !important;
    padding: 0px 5px !important;
    list-style-type: none !important;
  }
  .signin {
    padding-right: 50px !important;
    align-self: center !important;
  }
  .signin :hover {
    color: white !important;
  }
  .signupbtn {
    padding: 10px 10px !important;
    height: 2.4rem !important;
    border-radius: 3px !important;
    background: rgb(222, 9, 241) !important;
    color: white !important;
    cursor: pointer !important;
    align-items: center !important;
  }
  .mobilemenu {
    display: none !important;
  }
  .navbar_mobilemenu__eubgOnavbar_mobileoption__3fLik {
    display: none !important;
  }
  @media (max-width: 440px) {
    /*Mobile View */
    .header {
      padding: 0px 10px !important;
    }
    .logo {
      width: 45px !important;
      height: 45px !important;
    }
    .navoptions {
      display: flex !important;
      width: 100% !important;
      height: 350px !important;
      position: absolute !important;
      top: 80px !important;
      left: -100% !important;
      opacity: 0 !important;
      transition: all 0.5s ease !important;
      flex-direction: column !important;
      list-style-type: none !important;
      grid-gap: 0px !important;
    }
    .navoptions.active {
      background: #9899d1 !important;
      left: 0 !important;
      opacity: 1 !important;
      transition: all 0.5s ease !important;
      z-index: 1 !important;
      align-content: center !important;
      padding-left: 0px !important;
    }
  
    .menuicon {
      width: 45px !important;
      /* height: 45px !important; */
    }
    .option {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 10vw !important;
      padding: 30px 0px !important;
    }
    .signup {
      background: rgb(222, 9, 241) !important;
      border-radius: 3px !important;
      color: white !important;
      padding: 20px 0px !important;
      width: 80% !important;
      align-self: center !important;
      border-radius: 3px !important;
    }
  
    .signinup {
      display: none !important;
    }
    .mobilemenu {
      display: block !important;
    }
  }


